// src/styles/variables.scss
$primary-color: #008d31ac;
$accent-color: #008d31ac;
$background-dark: #141414;
$text-color: #e8d650c0;
$border-radius: 6px;
$font-style: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$border-style: 1px solid rgba(#e8d650c0, 0.2);